/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.App {
  text-align: center;
  background: -o-radial-gradient(top right, ellipse, black, transparent),
    -o-radial-gradient(top left, ellipse, black, transparent),
    -o-radial-gradient(center left, ellipse, rgb(30, 138, 150), transparent),
    -o-radial-gradient(bottom left, ellipse, aqua, transparent);
  background: radial-gradient(ellipse at top right, black, transparent),
    radial-gradient(ellipse at top left, black, transparent),
    radial-gradient(ellipse at center left, rgb(30, 138, 150), transparent),
    radial-gradient(ellipse at bottom left, aqua, transparent);
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 85%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 3%;
}

.App-link {
  color: #61dafb;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-horizontal {
  width: 100%;
  margin: 0;
}

.transparent-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.247);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.round-btn {
  background: -o-linear-gradient(135deg, #110018, aqua);
  background: linear-gradient(-45deg, #110018, aqua);
  background-size: 150%;
  background-position: 0% 50%;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-transition: background-position 2s ease;
  -o-transition: background-position 2s ease;
  transition: background-position 2s ease;
  border-style: none;
  font-weight: bolder;
}

.round-btn:hover {
  background-position: -250% 50%;
  -webkit-transition: background-position 1s ease;
  -o-transition: background-position 1s ease;
  transition: background-position 1s ease;
}

.Time-online-box {
  row-gap: 1rem;
  display: -ms-grid;
  display: grid;
}

/* FORM INPUT -------------------------------------------------------------*/
.general-form input {
  border: none;
  border-bottom: 0.2rem solid white;
  background: transparent;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  -webkit-box-shadow: 0px 4px 8px -4px white;
  box-shadow: 0px 4px 8px -4px white;

  -webkit-transition: -webkit-box-shadow 0.3s;

  transition: -webkit-box-shadow 0.3s;

  -o-transition: box-shadow 0.3s;

  transition: box-shadow 0.3s;

  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.general-form input:focus {
  border-color: aqua;
  -webkit-box-shadow: 0px 8px 16px -7px aqua;
  box-shadow: 0px 8px 16px -7px aqua;
}


.general-form input::-webkit-input-placeholder {
  color: white;
}


.general-form input::-moz-placeholder {
  color: white;
}


.general-form input:-ms-input-placeholder {
  color: white;
}


.general-form input::-ms-input-placeholder {
  color: white;
}


.general-form input::placeholder {
  color: white;
}

.general-form input::-ms-input-placeholder {
  color: white;
}


.general-form input[type=email] {
  background-image: url('./components/static/envelope.svg');
  background-position: 0.5rem 0.1rem;
  background-size: 6%;
  background-repeat: no-repeat;
  padding-left: 3rem;
  color: white;
}

.general-form input[type=password] {
  background-image: url('./components/static/key.svg');
  background-position: 0.5rem 0.1rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  padding-left: 3rem;
  color: white;
}

.general-form input[type=number] {
  background-image: url('./components/static/123.svg');
  background-position: 0.5rem 0.1rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  padding-left: 3rem;
  color: white;
}

.general-form input[type=submit] {
  background-color: rgba(255, 255, 255, 0.377);
  background-image: url('./components/static/box-arrow-in-right.svg');
  background-position: 0.5rem 0rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.4rem;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.general-form input[type=submit]:active {
  background-color: rgba(255, 255, 255, 0.589);
}

.general-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.589);
}

form.general-form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  row-gap: 3rem;
}

#signin-form {
  row-gap: 2rem;
}

@media screen and (max-width: 1920px) {
  .App-header {
    width: 55%;
  }
}

@media screen and (max-width: 720px) {
  .App-header {
    width: 85%;
  }
}

@media screen and (max-width: 550px) {
  .general-form input[type=number] {
    padding: 0;
    background-image: none;
  }

  .general-form input[type=submit] {
    padding: 0;
    background-image: none;
  }
}