/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.display-box {
    width: 100%;
}

.btn-box {
    margin: 1%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
}

#display-port {
    border-radius: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}