/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.files-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.files-list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    row-gap: 0.8rem;
}

.file-container {
    background-color: var(--lightGrey);
    display: -ms-grid;
    display: grid;
    font-size: 1rem;
    grid-auto-flow: row;
    border-bottom-style: solid;
    border-color: aqua;
    -webkit-box-shadow: 0px 4px 8px -4px aqua;
            box-shadow: 0px 4px 8px -4px aqua;;
}

.file-label {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: 10% auto;
    grid-template-columns: 10% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-style: solid;
}

.file-cinents {
    width: 50%;
    border-style: solid;
}

.label {
    border-right-style: solid;
    height: 100%;
    word-wrap: break-word;
}