/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dropzone-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.fileInput {
    border-style: hidden;
    border-radius: 0.4rem;
    border-color: aqua;
    -webkit-box-shadow: 0px 2px 16px -1px aqua;
            box-shadow: 0px 2px 16px -1px aqua;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
}

.fileInput-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
}

.error-text {
    color: red;
}

#fileForm {
    margin-top:3%;
}