/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header-box{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1rem;
}

input[type=checkbox].toggle-switch
{
    display: -ms-grid;
    display: grid;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 85%;
    margin: auto;
    height: 2rem;
    border-radius: 0.3rem;
    background: var(--transparentGrey);
    outline: 0;
    position: relative;
    font-size: 0.7rem;
    color: white;
}

input[type=checkbox].toggle-switch::before
{
    color:var(--lightGrey);
    content: 'My files';
    width: 50%;
    position: absolute;
    text-align: center;
    right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: content 0.04s;
    -o-transition: content 0.04s;
    transition: content 0.04s;
    will-change: right;
    -webkit-transition-delay: 0.09s;
         -o-transition-delay: 0.09s;
            transition-delay: 0.09s;
}

input[type=checkbox].toggle-switch::after
{
    display: -ms-grid;
    display: grid;
    content: 'Time online';
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 2rem;
    background: var(--lightGrey);
    border-radius: 0.3rem;
    position: absolute;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    left: 0;
    will-change: left;
    -webkit-transition: left 0.09s ease-in-out;
    -o-transition: left 0.09s ease-in-out;
    transition: left 0.09s ease-in-out;
    -webkit-box-shadow: 0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
            box-shadow: 0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::before{
    content: 'Time online';
    right: 50%;
}

input[type=checkbox].toggle-switch:checked::after
{
    content: 'My files';
    left: 50%;
    -webkit-box-shadow: -0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
            box-shadow: -0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}
