/* LOGIN SECTION */

.auth-container 
{
    width: 100%;
}

.login-container
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background: radial-gradient(ellipse at bottom left, #0c9a9f, black);
    z-index: 1;
}

.login-box
{
    border-style: solid;
    width: 30rem;
    height: 30rem;
    position: relative;
}

.login-message
{
    font-weight: lighter;
    text-align: center;
    padding-bottom: 4rem;
}

.login-cont
{
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
}

#login-footer
{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#login-footer a
{
    text-decoration: none;
    color: aqua;
}

#login-footer a:active
{
    color: aquamarine;
}

.transparent-box{
  position: relative;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.247);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}